*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
}
img{
   width: 100%;

   
}
.soft{
    position: relative;
    transition: all 0.7s ease;
    width: 293px;
    height: 293px;
}
.soft:hover{
    background-color: rgb(55, 49, 49);
}
.icon{
    position: absolute;
    top: 150px;
    left: 120px;
    color: rgb(6, 2, 2);
    z-index: -1;
}
.soft:hover .icon{
    z-index: 1;
    color: rgb(19, 20, 20);
    background-color: rgb(225, 233, 225);
}